# Analyze PiAware Data
Sun Sep 19 18:05:32 EDT 2021

In [29]:
# load a day's worth of PiAware data
import os
data_dir = '/data/piaware'
data_ts_ymdh = ['2021', '09', '19', '00']
data_path_day = os.sep.join([data_dir] + data_ts_ymd)
print(f'data_path_day: "{data_path_day}"')
print(data_path_day)
hourly_filenames = os.listdir(data_path_day)

# generate pathnames for an hour's worth of data
hourly_pathnames = []
for hourly_filename in hourly_filenames:
    #print(hourly_filename)
    hourly_pathnames.append(os.sep.join([data_path_day, hourly_filename]))
    
print()
#print('hourly_pathnames:')
#print(hourly_pathnames)

data_path_day: "/data/piaware/2021/09/19/00"
/data/piaware/2021/09/19/00

In [30]:
# load single PiAware JSON file
path = hourly_pathnames[0]
print(path)

/data/piaware/2021/09/19/00/piaware_raw-20210919.0000.00.014265.json

In [31]:
import json
f = open(path)
pa_data = json.load(f)
f.close

In [45]:
!pip install prettyprint

Defaulting to user installation because normal site-packages is not writeable
Collecting prettyprint
  Downloading prettyprint-0.1.5.tar.gz (2.1 kB)
Building wheels for collected packages: prettyprint
  Building wheel for prettyprint (setup.py) ... done
  Created wheel for prettyprint: filename=prettyprint-0.1.5-py3-none-any.whl size=3039 sha256=079d1a9f3be06d0d8e1e49662307a8500e38c9fb6ad02ee2e0b2da3b2734507f
  Stored in directory: /home/weidlich/.cache/pip/wheels/95/15/01/cbf9403137400b13f66ee0a1a43993f69a6be96eb22bb11b59
Successfully built prettyprint
Installing collected packages: prettyprint
Successfully installed prettyprint-0.1.5

In [48]:
import pandas as pd
import pprint as pp
pa_data
now = pa_data['now']
messages = pa_data['messages']
aircraft = pa_data['aircraft']
print(now)
print(messages)
pp.pprint(aircraft)
dfAircraft = pd.DataFrame(aircraft)
dfAircraft['now'] = now

1632023999.6
1992144268
[{'baro_rate': -2048,
  'gs': 393.0,
  'gva': 2,
  'hex': 'a6c247',
  'messages': 13,
  'mlat': [],
  'nac_p': 9,
  'nac_v': 1,
  'nav_altitude_mcp': 10016,
  'nav_heading': 108.3,
  'nav_qnh': 1018.4,
  'nic_baro': 1,
  'rssi': -17.7,
  'sda': 2,
  'seen': 13.0,
  'sil': 3,
  'sil_type': 'perhour',
  'tisb': [],
  'track': 100.9,
  'version': 2},
 {'hex': 'a68cac',
  'messages': 7,
  'mlat': [],
  'rssi': -17.1,
  'seen': 72.3,
  'sil_type': 'unknown',
  'tisb': [],
  'version': 0},
 {'alt_baro': 37000,
  'alt_geom': 38650,
  'category': 'A5',
  'emergency': 'none',
  'flight': 'THY34   ',
  'geom_rate': -64,
  'gs': 522.6,
  'gva': 2,
  'hex': '4bb18f',
  'lat': 39.032841,
  'lon': -78.001953,
  'messages': 2597,
  'mlat': [],
  'nac_p': 9,
  'nac_v': 1,
  'nav_altitude_mcp': 36992,
  'nav_heading': 57.0,
  'nav_modes': ['autopilot', 'vnav', 'lnav', 'tcas'],
  'nav_qnh': 1012.8,
  'nic': 8,
  'nic_baro': 1,
  'rc': 186,
  'rssi': -2.9,
  'sda': 2,
  'seen': 0.4,
  'seen_pos': 0.4,
  'sil': 3,
  'sil_type': 'perhour',
  'squawk': '0527',
  'tisb': [],
  'track': 55.8,
  'version': 2},
 {'alt_baro': 10950,
  'alt_geom': 11525,
  'category': 'A2',
  'emergency': 'none',
  'flight': 'AWI3831 ',
  'geom_rate': 384,
  'gs': 335.8,
  'gva': 2,
  'hex': 'a56c21',
  'lat': 38.712236,
  'lon': -77.793213,
  'messages': 1207,
  'mlat': [],
  'nac_p': 10,
  'nac_v': 1,
  'nav_altitude_mcp': 16000,
  'nav_qnh': 1019.2,
  'nic': 8,
  'nic_baro': 1,
  'rc': 186,
  'rssi': -17.8,
  'sda': 2,
  'seen': 19.6,
  'seen_pos': 28.2,
  'sil': 3,
  'sil_type': 'perhour',
  'squawk': '4672',
  'tisb': [],
  'track': 218.7,
  'version': 2},
 {'alt_baro': 28000,
  'alt_geom': 29300,
  'baro_rate': 64,
  'category': 'A2',
  'emergency': 'none',
  'flight': 'EJA672  ',
  'gs': 459.3,
  'gva': 2,
  'hex': 'a8e495',
  'lat': 39.24678,
  'lon': -77.609989,
  'messages': 1353,
  'mlat': [],
  'nac_p': 10,
  'nac_v': 2,
  'nic': 8,
  'nic_baro': 1,
  'rc': 186,
  'rssi': -13.9,
  'sda': 2,
  'seen': 0.1,
  'seen_pos': 2.1,
  'sil': 3,
  'sil_type': 'perhour',
  'squawk': '3442',
  'tisb': [],
  'track': 210.9,
  'version': 2},
 {'alt_baro': 41000,
  'alt_geom': 42750,
  'baro_rate': 0,
  'category': 'A5',
  'emergency': 'none',
  'flight': 'BAW23T  ',
  'gs': 519.1,
  'gva': 2,
  'hex': '4076e8',
  'lat': 38.548187,
  'lon': -76.692034,
  'messages': 2040,
  'mlat': [],
  'nac_p': 10,
  'nac_v': 2,
  'nav_altitude_mcp': 40992,
  'nav_heading': 50.6,
  'nav_qnh': 1013.6,
  'nic': 8,
  'nic_baro': 1,
  'rc': 186,
  'rssi': -15.0,
  'sda': 2,
  'seen': 2.1,
  'seen_pos': 2.9,
  'sil': 3,
  'sil_type': 'perhour',
  'squawk': '7167',
  'tisb': [],
  'track': 45.9,
  'version': 2},
 {'alt_baro': 5000,
  'alt_geom': 5325,
  'baro_rate': -1024,
  'category': 'A3',
  'gs': 262.6,
  'hex': 'a23a02',
  'lat': 38.659653,
  'lon': -77.316404,
  'messages': 506,
  'mlat': [],
  'nac_v': 1,
  'nic': 8,
  'rc': 186,
  'rssi': -16.8,
  'seen': 47.4,
  'seen_pos': 63.9,
  'sil_type': 'perhour',
  'tisb': [],
  'track': 83.7,
  'version': 2},
 {'alt_baro': 34975,
  'alt_geom': 36525,
  'baro_rate': 64,
  'category': 'A3',
  'emergency': 'none',
  'flight': 'DAL419  ',
  'gs': 491.5,
  'gva': 2,
  'hex': 'a41f37',
  'lat': 38.791188,
  'lon': -76.321899,
  'messages': 2001,
  'mlat': [],
  'nac_p': 9,
  'nac_v': 1,
  'nav_altitude_mcp': 35008,
  'nav_qnh': 1012.8,
  'nic': 8,
  'nic_baro': 1,
  'rc': 186,
  'rssi': -15.4,
  'sda': 2,
  'seen': 0.2,
  'seen_pos': 9.7,
  'sil': 3,
  'sil_type': 'perhour',
  'squawk': '3116',
  'tisb': [],
  'track': 44.6,
  'version': 2},
 {'category': 'A1',
  'hex': 'a695bd',
  'messages': 1503,
  'mlat': [],
  'rssi': -17.5,
  'seen': 238.6,
  'sil_type': 'perhour',
  'tisb': [],
  'version': 2},
 {'alt_baro': 30300,
  'hex': 'a8c802',
  'lat': 39.059562,
  'lon': -75.865784,
  'messages': 332,
  'mlat': [],
  'nic': 8,
  'rc': 186,
  'rssi': -17.4,
  'seen': 39.2,
  'seen_pos': 52.9,
  'sil_type': 'perhour',
  'tisb': [],
  'version': 2},
 {'category': 'A5',
  'hex': '4851f7',
  'messages': 2769,
  'mlat': [],
  'rssi': -16.4,
  'seen': 125.6,
  'sil_type': 'perhour',
  'tisb': [],
  'version': 2},
 {'alt_baro': 1900,
  'alt_geom': 2125,
  'baro_rate': -768,
  'category': 'A5',
  'gs': 152.0,
  'gva': 2,
  'hex': '06a038',
  'lat': 38.829803,
  'lon': -77.43785,
  'messages': 2644,
  'mlat': [],
  'nac_p': 10,
  'nac_v': 1,
  'nav_altitude_mcp': 3008,
  'nav_qnh': 1019.2,
  'nic': 8,
  'nic_baro': 1,
  'rc': 186,
  'rssi': -14.6,
  'sda': 2,
  'seen': 8.0,
  'seen_pos': 8.0,
  'sil': 3,
  'sil_type': 'perhour',
  'tisb': [],
  'track': 0.8,
  'version': 2}]

In [49]:
dfAircraft

,hex,gs,track,baro_rate,nav_qnh,nav_altitude_mcp,nav_heading,version,nic_baro,nac_p,...,squawk,emergency,category,nav_modes,lat,lon,nic,rc,seen_pos,now
0,a6c247,393.0,100.9,-2048.0,1018.4,10016.0,108.3,2,1.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.632024e+09
1,a68cac,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.632024e+09
2,4bb18f,522.6,55.8,NaN,1012.8,36992.0,57.0,2,1.0,9.0,...,0527,none,A5,"[autopilot, vnav, lnav, tcas]",39.032841,-78.001953,8.0,186.0,0.4,1.632024e+09
3,a56c21,335.8,218.7,NaN,1019.2,16000.0,NaN,2,1.0,10.0,...,4672,none,A2,NaN,38.712236,-77.793213,8.0,186.0,28.2,1.632024e+09
4,a8e495,459.3,210.9,64.0,NaN,NaN,NaN,2,1.0,10.0,...,3442,none,A2,NaN,39.246780,-77.609989,8.0,186.0,2.1,1.632024e+09
5,4076e8,519.1,45.9,0.0,1013.6,40992.0,50.6,2,1.0,10.0,...,7167,none,A5,NaN,38.548187,-76.692034,8.0,186.0,2.9,1.632024e+09
6,a23a02,262.6,83.7,-1024.0,NaN,NaN,NaN,2,NaN,NaN,...,NaN,NaN,A3,NaN,38.659653,-77.316404,8.0,186.0,63.9,1.632024e+09
7,a41f37,491.5,44.6,64.0,1012.8,35008.0,NaN,2,1.0,9.0,...,3116,none,A3,NaN,38.791188,-76.321899,8.0,186.0,9.7,1.632024e+09
8,a695bd,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,...,NaN,NaN,A1,NaN,NaN,NaN,NaN,NaN,NaN,1.632024e+09
9,a8c802,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,...,NaN,NaN,NaN,NaN,39.059562,-75.865784,8.0,186.0,52.9,1.632024e+09
10,4851f7,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,...,NaN,NaN,A5,NaN,NaN,NaN,NaN,NaN,NaN,1.632024e+09
11,06a038,152.0,0.8,-768.0,1019.2,3008.0,NaN,2,1.0,10.0,...,NaN,NaN,A5,NaN,38.829803,-77.437850,8.0,186.0,8.0,1.632024e+09

In [50]:
dfAircraft.describe()

,gs,track,baro_rate,nav_qnh,nav_altitude_mcp,nav_heading,version,nic_baro,nac_p,nac_v,...,rssi,alt_baro,alt_geom,geom_rate,lat,lon,nic,rc,seen_pos,now
count,8.000000,8.000000,6.000000,6.000000,6.000000,3.000000,12.000000,7.0,7.000000,8.00000,...,12.000000,8.000000,7.000000,2.000000,8.000000,8.000000,8.0,8.0,8.000000,1.200000e+01
mean,391.987500,95.162500,-618.666667,1016.000000,23669.333333,71.966667,1.833333,1.0,9.571429,1.25000,...,-15.208333,23640.625000,23742.857143,160.000000,38.860031,-77.129891,8.0,186.0,21.012500,1.632024e+09
std,133.707628,79.514634,841.950751,3.239753,15989.099220,31.627889,0.577350,0.0,0.534522,0.46291,...,4.091779,15366.103335,16997.963814,316.783838,0.234260,0.756226,0.0,0.0,24.830076,2.490201e-07
min,152.000000,0.800000,-2048.000000,1012.800000,3008.000000,50.600000,0.000000,1.0,9.000000,1.00000,...,-17.800000,1900.000000,2125.000000,-64.000000,38.548187,-78.001953,8.0,186.0,0.400000,1.632024e+09
25%,317.500000,45.575000,-960.000000,1013.000000,11512.000000,53.800000,2.000000,1.0,9.000000,1.00000,...,-17.425000,9462.500000,8425.000000,48.000000,38.699090,-77.655795,8.0,186.0,2.700000,1.632024e+09
50%,426.150000,69.750000,-384.000000,1016.000000,25504.000000,57.000000,2.000000,1.0,10.000000,1.00000,...,-16.600000,29150.000000,29300.000000,160.000000,38.810496,-77.377127,8.0,186.0,8.850000,1.632024e+09
75%,498.400000,128.400000,48.000000,1019.000000,36496.000000,82.650000,2.000000,1.0,10.000000,1.25000,...,-14.900000,35481.250000,37587.500000,272.000000,39.039521,-76.599500,8.0,186.0,34.375000,1.632024e+09
max,522.600000,218.700000,64.000000,1019.200000,40992.000000,108.300000,2.000000,1.0,10.000000,2.00000,...,-2.900000,41000.000000,42750.000000,384.000000,39.246780,-75.865784,8.0,186.0,63.900000,1.632024e+09